#setup_main {
    padding-top: 50px;
}

#landmarks, #playlist {
    width: 800px;
}

#setup_button, #playlist_button {
    padding-top: 80px;
}

#main {
    padding-top: 100px;
}

#eight, #four {
    color: white;
    height: 500px;
    padding: 25px;
    border-radius: 4px;
}

#four {
    background-color: red;
}

#eight {
    background-color: #111
}

#now_playing_main {
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 100px;
}

#now_playing {
    padding-left: 10px;
    color: white;
    background-color: #111;
}
